body{
    background: rgb(223, 232, 245);
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 250px;
    margin-bottom: 20px; 
  }

.central{
    width: fit-content;
    background: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 18px rgb(1, 1, 155);
} 

.central button{
    width: 80px;
    background: rgb(57, 102, 226);
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.5s
}

.central button:hover{
    background: pink;
    transform: translateY(-2px);
}