body{
    background: rgb(225, 227, 235);
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 600px;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
    gap: 10px;
    padding: 10px;
}

img {
    width: 150px;
    height: auto; 
  }
  

.central button{
    width: 100px;
    background: rgb(255, 0, 0);
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.5s
}

.central button:hover{
    background: pink;
    transform: translateY(-2px);
}